@page
@{
    ViewData["Title"] = "Asteroid Game";

}

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<script src="~/js/AsteroidGame/Presentation.js"> </script> @*Change the src destination to the game's javascript file.*@

<body style="background-color: #ffc72c;">

    <div id="gameCanvas" style="border:1px solid #000000; background-color: black; width:900px; height:800px">
    </div>
    <button onclick="startGame(document.getElementById('gameCanvas'))">
        Play Game
    </button>

</body>
