.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
   
}

div game-container {
    height: 300px;
    padding: 50px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
}

div h3 {
    font-size: 30px;
    background-color: #041E41;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px !important;
    border-bottom: 3px solid;
    border-bottom-color: #5da8bb;
    word-wrap: break-word;
    max-width: 200px;
}
    p
    {
        text-align: center;
    }

.rounded-button {
    border-radius: 20px; /* You can adjust the value to control the roundness of the edges */
}

img {
    border-radius: 20px;
}


