.main-container {
    display: inline-flex;
    width: 100%;
    text-align: center;
    align-content: center;
   
}

    .main-container div {
        height: 350px;
        padding: 50px;
        margin: 0 auto;
        align-content: center;
    }

div h3 {
    font-size: 30px;
    background-color: #041E41;
    padding: 20px;
    margin: 0 auto;
    border-bottom: 5px solid;
    border-bottom-color: #FFC72C;
    word-wrap: break-word;
    max-width: 200px;
}
