@page
@model CoolScrumGames.Pages.DesktopModel
@{



    <link href="/css/MainPageStyleSheet.css" rel="stylesheet" />
<body>
<div class="main-container">
  <div><h3>Container 1</h3><p>This is some text</p><a href="">Button 1</a></div>
  <div><h3>Container 2</h3><p>This is some text</p><a href="">Button 2</a></div>
  <div><h3>Container 3</h3><p>This is some text</p><a href="">Button 3</a></div> 
    </div>
</body>


}
