@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CoolScrumGames.com</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

<div class="row">
    <div class="col-md-3">
        <button>
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
            <p>Hello Kitty Tetris</p>
        </button>
    </div>
    </div>

</div>
