@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CoolScrumGames.com</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    @*<div class="row">
        <div class="col-md-3">

        </div>
        </div>*@
</div>

<link href="/css/MainPageStyleSheet.css" rel="stylesheet" />
<body>
<div class="main-container">
  <div><h3>
      <button onclick="window.location.href='https://www.numuki.com/game/hello-kitty-adventure/'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris</p></div>

  <div><h3>
      <button onclick="window.location.href='https://www.numuki.com/game/hello-kitty-adventure/'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris: Purrfectly Stacked</p></div>

  <div><h3>
      <button onclick="window.location.href='https://www.numuki.com/game/hello-kitty-adventure/'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris: Clawsome Cubes</p></div>
    </div>

@*<div class="main-container"> uncomment for second row of game icons. commented out because i don't know how to align them vertically
  <div><h3>
      <button onclick="window.location.href='https://www.numuki.com/game/hello-kitty-adventure/'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris: Meow-sical Blocks</p></div>

  <div><h3>
      <button onclick="window.location.href='https://www.numuki.com/game/hello-kitty-adventure/'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris: Kitty's Tetra-Palooza</p></div>

  <div><h3>
      <button onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ&t=1s'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris: Paws and Play</p></div>
    </div>*@


</body>
