@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<link href="/css/MainPageStyleSheet.css" rel="stylesheet" />
<body style="background-color: #f4f1e2;">

@* 
The "main-container" is the ROW of containers for the games. The "game-container" is each individual game icon inside of the row, or the columns. To add more ROWS, just copy + paste
the div class main container and all of its contents. To add more columns, just copy the individual game-container and its contents. *@

<div class="main-container"> 
    <div class="game-container">
            <h3>             @* This link is for public domain game 2048. Will remove later when game is implemented in window.*@
                <button onclick="window.location.href='Games/AsteroidGame'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
    </div>

     <div class="game-container">
            <h3>
                <button onclick="window.location.href='Games/SnakeGame'" target="_blank">
                    <img src="/lib/snake.jpg" alt="Snake" style="width:128px;height:128px;">
                </button>
            </h3><p>Snake Game</p>
     </div>

     <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
     </div>

     <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
     </div>
</div>

<div class="main-container">
        <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
        </div>

        <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
        </div>

        <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
        </div>

        <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
        </div>
 </div>



</body>
