@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/diamond.png" style="max-width: 300px; max-height: 300px;"/>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    @*<div class="row">
        <div class="col-md-3">

        </div>
        </div>*@
</div>


<link href="/css/MainPageStyleSheet.css" rel="stylesheet" />
<body style="background-color: #ffc72c;">

@* 
The "main-container" is the ROW of containers for the games. The "game-container" is each individual game icon inside of the row, or the columns. To add more ROWS, just copy + paste
the div class main container and all of its contents. To add more columns, just copy the individual game-container and its contents. *@

<div class="main-container"> 
    <div class="game-container">
            <h3>             @* This link is for public domain game 2048. Will remove later when game is implemented in window.*@
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
    </div>

     <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
     </div>

     <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
     </div>

     <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
     </div>
</div>

<div class="main-container">
        <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
        </div>

        <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
        </div>

        <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
        </div>

        <div class="game-container">
            <h3>
                <button onclick="window.location.href='https://play2048.co/'" target="_blank">
                    <img src="/lib/Rocket.jpg" alt="Rocket" style="width:128px;height:128px;">
                </button>
            </h3><p>Jake's Game</p>
        </div>
 </div>



</body>
