@page
@model CoolScrumGames.Pages.Account.LoginModel
@{
}

<br />
<br />
<br />
<br />
<br />
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Login.Email"></label>
            </div>
            <div class="col-5">
                <input type="email" asp-for="Login.Email" class="form-control" name="toEmail" pattern=".*@@etsu\.edu$" required/>
            </div>
            <span class="text-danger" asp-validation-for="Login.Email"></span>
        </div>
        <div class="form-group row">
            
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Send Access Code" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>
